@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Noto+Sans+Khmer:wght@100..900&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Khmer:wght@100..900&family=Oswald:wght@200..700&display=swap");
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        sans-serif;
    background-color: #fdf7ed;
    color: #222;
}

/* Navbar over hero */
.hero-header .navbar {
    background: transparent;
    z-index: 10;
}

/* Hero base */
.hero {
    min-height: 80vh;
    padding-top: 6rem; /* space for fixed navbar */
    padding-bottom: 3rem;
    background-image: url(""); /* Main hero image*/
    background-size: cover;
    background-position: center center;
    color: #fff;
}

/* Hero text */
.hero-kicker {
    font-size: 1rem;
    max-width: 320px;
}

.hero-small-text {
    font-size: 0.9rem;
    max-width: 260px;
    margin-left: auto;
}

.hero-title {
    font-size: 3rem;
}

@media (min-width: 768px) {
    .hero-title {
        font-size: 3.5rem;
    }
}

/* Navbar link styles */
.navbar-nav .nav-link {
    font-size: 0.9rem;
    padding-inline: 0.8rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

/* Get Help button look */
.navbar .btn-light {
    border-radius: 999px;
    font-size: 0.9rem;
}

/* Hero primary button */
.hero .btn-success {
    background-color: #2b7b5b;
    border-color: #2b7b5b;
}

.hero .btn-success:hover {
    background-color: #23614a;
    border-color: #23614a;
}
